.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  margin: 32px 40px 28px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
  transition: 0.5s;
}

.header__logo {
  max-width: 88px;
  max-height: 24px;
  transition: 0.5s;
}

.header__location {
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  transition: 0.5s;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}

.header__button {
  border: none;
  background-color: #fff;
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  transition: 0.5s;
  padding: 0;
}

.header__button:hover {
  cursor: pointer;
}

.header__username {
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  transition: 0.5s;
  text-decoration: none;
  color: #000;
}

.header__profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 590px) {
  .header__left {
    gap: 10px;
  }

  .header__right {
    gap: 10px;
  }

  .header__logo {
    max-width: 60px;
    max-height: 20px;
  }

  .header__location {
    font-size: 16px;
  }

  .header__add-button {
    font-size: 16px;
  }

  .header__username {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  .header__location {
    font-size: 14px;
  }

  .header__add-button {
    font-size: 14px;
  }

  .header__username {
    font-size: 14px;
  }

  .header__profile-picture {
    display: none;
  }
}
