.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  margin: 32px 40px 28px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__add-button {
  border: none;
  background-color: #fff;
}
