.item-modal__image {
  width: 100%;
}

.modal__preview-content {
  padding: 0;
  overflow: hidden;
}

.item-modal__title {
  margin-bottom: 12px;
}

.modal__item-close {
  background-image: url("../images/item-modal-close.svg");
}

.item-modal__description {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px 32px 32px;
}

.item-modal__delete-button {
  border: none;
  background: none;
  padding: 0;
  color: red;
}

.item-modal__delete-button_visible {
  visibility: visible;
}

.item-modal__delete-button_hidden {
  visibility: hidden;
}

.item-modal__delete-item:hover {
  cursor: pointer;
}
