.card {
  max-height: 328px;
  width: 322px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
}

.card__header {
  position: absolute;
  top: 15px;
  display: flex;
}

.card__title {
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk Regular";
  font-size: 16px;
  color: #00000099;
  margin-right: 9px;
}

.card__heart .card__image {
  max-width: 100%;
  max-height: 100%;
}

.card__heart:hover {
  cursor: pointer;
}
