.cards {
  margin: 0 40px;
}

.cards__weather-info {
  margin-bottom: 34px;
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 0 auto;
}
