.cards {
  margin: 0 40px;
}

.cards__weather-info {
  margin-bottom: 34px;
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  transition: 0.5s;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 0 auto;
}

@media screen and (max-width: 590px) {
  .cards__weather-info {
    font-size: 16px;
  }
}
