.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk Medium";
}

.modal__content {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 28px 28px 36px;
  border-radius: 20px;
  position: relative;
}

.modal__close {
  background-image: url("../images/closeButton.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 14px;
  width: 14px;
  position: absolute;
  right: 31px;
  top: 23px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__title {
  margin-bottom: 24px;
}

.modal__submit {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  display: inline;
}

.modal__submit:hover {
  background-color: #00000099;
  cursor: pointer;
}

.modal__redirect {
  display: inline;
  background-color: transparent;
  border: none;
  margin-left: 12px;
  opacity: 0.5;
}

.modal__redirect:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__children {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 5px;
}

.modal__label_radio {
  margin-bottom: 12px;
}

.modal__form {
  position: relative;
}

.modal__input {
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #0000008d;
  margin-bottom: 24px;
}

.modal__input:last-of-type {
  margin-bottom: 34px;
}

.modal__radio-container {
  margin-bottom: 8px;
}

.modal__radio-container:last-of-type {
  margin-bottom: 32px;
}

.modal__radio-button {
  margin-right: 11px;
  color: #00000080;
}

.modal__radio-label {
  color: #00000080;
}

.modal__radio-button:checked + label {
  color: #000;
}
