.profile {
  display: flex;
  margin: 0 40px;
}

.profile__items-header {
  display: flex;
  column-gap: 20px;
  margin-bottom: 16px;
  margin-top: 15px;
}

.profile__items-title {
  color: #000;
  font-family: "Caibnet Grotesk Regular", sans-serif;
  font-size: 20px;
}

.profile__items-button {
  border: none;
  background: none;
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-size: 20px;
  color: #00000099;
}

.profile__items-button:hover {
  cursor: pointer;
}
