.sidebar {
  display: flex;
  align-items: flex-start;
  margin-right: 116px;
  min-width: 230px;
  flex-direction: column;
  gap: 8px;
}

.sidebar__info {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "Cabinet Grotesk Regular", sans-serif;
  font-size: 20px;
}

.sidebar__button {
  border: none;
  background-color: #fff;
  font-family: "Cabinet Grotesk Medium";
  font-size: 20px;
  transition: 0.5s;
  padding: 0;
}

.sidebar__button:hover {
  cursor: pointer;
}
